
.account-info {
    padding: 5px;
    border-radius: 2px;
    background-color: #3f51b5;
    color: rgba(255, 255, 255, .87);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
}
.Account .md-card{
    overflow: hidden;
    margin-bottom: 10px;
}
.Account .md-card:first-child{
    margin-top: 60px;
    margin-bottom: 10px;
}
.Account .md-card .md-card-header:last-child{
    margin: 0;
}
.Account .md-title-18{
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: lowercase;
}
.Account .md-title-18:first-letter{
    text-transform: uppercase;
}

.list-item {
    height: 70px;
}
.list-item .md-menu{

}
.list-enter-active, .list-leave-active {
    transition: all .3s;
}
.list-enter-active, .list-leave-active .md-menu{
/*    overflow: hidden;*/
/*
    height: 0px;
    width: 0px;
    display: none;
*/
}

.list-enter, .list-leave-to /* .list-leave-active для <2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}

.md-card-header .md-title-18 .md-icon, 
.md-card-header .md-title .md-icon {
    margin-top: 10px;
}
.totals{
    position: absolute;
    right: 0;
    padding-right: 45px;
    font-size: 16px;
}
.md-dialog {
    min-width: none !important; 
    max-width: none !important; 
    padding: 10px;
/*    height: 290px;*/
/*    width: 430px;*/
/*    padding: 0px 20px 20px 20px;*/
/*    #3f51b5*/
}
.sync-info {
/*    height: 500px;*/
    margin-bottom: 20px;
    padding: 0;
}
.sync-info .col-xs-6{
    padding-left: 0px; 
    padding-right: 0px; 
}
.sync-info .md-button{
    margin-top: 10px;
    padding: 0px 4px;
}

.btn-dialog {
    width: 100px;
}
.col-fav{
/*    border: 3px solid #3f51b5;*/
    border-bottom: 3px solid #3f51b5;
    margin: auto;
    display: block;
    line-height: 26px;
    width: 32px; /* задаете свои размеры */
    width: 60px;  
    height: 32px;
/*    border-radius: 50%;*/
/*    box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);*/
}

.md-input-container.inp-create-menu{
    
/*    margin: 0 10px;*/
    width: 90%;
    margin: auto;
        
/*    width: 60% !important;*/
}

.group {
    
}

.group .group-item{
    margin: 4px 0;
    border-radius: 2px;
    border: 3px solid #3f51b5;
/*    border: 3px solid #283593;*/
/*    color: rgba(0, 0, 0, 0.78);*/
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
}
.group .md-list-item-container.md-button{
    margin: -2px;
    padding-right: 0;
/*    margin-right: 30px;*/
}

.group .group-item:nth-child(2){
    border: 3px solid #673ab7;
    border: 3px solid #ff5722;
    border: 3px solid #1e88e5;
/*    border: 3px solid #00bcd4;*/
}
.group .group-item:nth-child(3){
    border: 3px solid #9c27b0;
    border: 3px solid #4caf50;
}
.group .group-item:nth-child(4){
    border: 3px solid #e91e63;
    border: 3px solid #795548;
    border: 3px solid #ff9800;
}
.group .group-item{
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: lowercase !important;
}

.group .md-list-item.md-inset .md-list-item-container{
/*    padding-left: 10px;*/
}

.md-list-item-expand .md-list-expand {
    position: relative; 
    z-index: 1;
    transform: translate3D(0, 0, 0); 
    will-change: margin-bottom; 
    transition: all .5s cubic-bezier(.35, 0, .25, 1); 
    transition: none !important;
}

.group .md-list-item-container .action-group {
    align-self: flex-end;
    margin-top: -3px;
    order: 20;
}
