
.account-info {
    padding: 5px;
    border-radius: 2px;
    background-color: #3f51b5;
    color: rgba(255, 255, 255, .87);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
}
.Account .md-card{
    overflow: hidden;
    margin-bottom: 10px;
}
.Account .md-card:first-child{
    margin-top: 60px;
    margin-bottom: 10px;
}
.Account .md-card .md-card-header:last-child{
    margin: 0;
}
.Account .md-title-18{
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: lowercase;
}
.Account .md-title-18:first-letter{
    text-transform: uppercase;
}

.list-item {
    height: 70px;
}
.list-item .md-menu{

}
.list-enter-active, .list-leave-active {
    transition: all .3s;
}
.list-enter-active, .list-leave-active .md-menu{
/*    overflow: hidden;*/
/*
    height: 0px;
    width: 0px;
    display: none;
*/
}

.list-enter, .list-leave-to /* .list-leave-active для <2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}

.md-card-header .md-title-18 .md-icon, 
.md-card-header .md-title .md-icon {
    margin-top: 10px;
}
.totals{
    position: absolute;
    right: 0;
    padding-right: 45px;
    font-size: 16px;
}
.md-dialog {
    min-width: none !important; 
    max-width: none !important; 
    padding: 10px;
/*    height: 290px;*/
/*    width: 430px;*/
/*    padding: 0px 20px 20px 20px;*/
/*    #3f51b5*/
}
.sync-info {
/*    height: 500px;*/
    margin-bottom: 20px;
    padding: 0;
}
.sync-info .col-xs-6{
    padding-left: 0px; 
    padding-right: 0px; 
}
.sync-info .md-button{
    margin-top: 10px;
    padding: 0px 4px;
}

.btn-dialog {
    width: 100px;
}
.col-fav{
/*    border: 3px solid #3f51b5;*/
    border-bottom: 3px solid #3f51b5;
    margin: auto;
    display: block;
    line-height: 26px;
    width: 32px; /* задаете свои размеры */
    width: 60px;  
    height: 32px;
/*    border-radius: 50%;*/
/*    box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);*/
}

.md-input-container.inp-create-menu{
    
/*    margin: 0 10px;*/
    width: 90%;
    margin: auto;
        
/*    width: 60% !important;*/
}
