
.left-bar {
    height: 94%;
/*    margin-top: -45px;*/
}

.admin-body {
    height: 100%;
/*    overflow: hidden;*/
}

.admin-header {
    height: 45px;
}

.app-sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    padding: 20px 0 50px;
    width: 180px;
    min-width: 45px;
    max-height: 100vh;
    height: calc(100% - 50px);
    z-index: 1023;
    background: #fff;
    box-shadow: 0 2px 3px hsla(0,0%,7%,.1), 0 0 0 1px hsla(0,0%,7%,.1);
    overflow-y: auto;
    overflow-x: hidden;

    animation: slideInRight 1s cubic-bezier(0.1,0.25,0.1,1);
/*    animation-delay: 2s;*/
}

.app-navbar {
    position: fixed;
    height: 50px;
    min-width: 100%;
    z-index: 1024;
    padding-left: 140px;
    box-shadow: 0 2px 3px hsla(0,0%,7%,.1), 0 0 0 1px hsla(0,0%,7%,.1);
    background-color: #fff;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: slideInDown .3s ease-in-out; 
    will-change: transform;
}


/*
.slideInDown {
    animation-name: slideInDown
}
*/

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0)
    }
}
@keyframes slideInRight {
    0% {
        transform: translate3d(-500%, 0, 0);
        
    }
    100% {
        transform: translate3d(0, 0, 0)
    }
}
.navbar-title {
    margin-left: 10px;
}

.img-navbar {
    height: 32px;
    width: 32px;
    color: red;
}

.admin-container {
    position: absolute;
    top: 50px;
    left: 180px;
/*    left: 0;*/
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    
/*    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);*/
    
}

.notification {
    width: 30%;
}
.md-switch-label{
    font-weight: normal;
}
.md-button{
    text-transform: none !important;
}
.md-card{
    min-width: 320px;
    margin: 15px;
}
.md-card .md-card-content:last-child {
    padding-bottom: 16px; 
}

.md-success {
    background-color: #27ae60 !important;
    color: rgba(255, 255, 255, .87);
}
.md-error{
    background-color: #e74c3c !important;
    color: rgba(255, 255, 255, .87);
}

.anim-fadeIn{
    animation: fadeIn 1s ease-in-out; 
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
    }
}

.md-list .md-divider.md-inset{
    margin: 0 15px;
} 
.md-divider.md-inset{
    margin: 0;
}
.md-list-item .md-list-item-container>.md-icon:first-child {
    margin-right: 24px;
}
.reserveLayer .reserve-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0;
    width: 600px;
/*    margin-bottom: -10px;*/
}

.reserveLayer .md-card .num-reserve {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: -10px;
}
.reserveLayer .md-card .md-avatar {
    margin: 0;
}
.reserveLayer .md-card .footer-card {
    padding-top: 0;
    margin-top: 0;
}

.reserveLayer .reserve-note {
    max-width: 400px;
}

.reserveLayer .reserve-block {
    max-width: 590px;
}
.reserveLayer .info-reserve{
    margin-top: 5px;
}
.reserveLayer .info-reserve td{
    text-align: left;
}
.reserveLayer .info-reserve td:nth-child(2){
    text-align: center;
}


.reserveLayer .info-reserve {
    float: right;
}
.custom-text-16{
    padding: 0 5px;
    font-weight: 700;
    color: #fe562e;
    font-size: 16px;
}
.custom-text-14{
    padding: 0 5px;
    font-weight: 700;
    color: #fe562e;
    font-size: 14px;
}

.reserveLayer ul.md-list{
/*    margin-top: -10px;*/
    padding-top: 0 !important;
}
.button-action {
    position: absolute;
    top: 6px;
    right: 0;
/*    float: left;*/
}


/*
.reserveLayer .md-list-item .md-list-item-container {
     min-height: 36px; 
}
*/
.md-list-expand-container ul li:first-child{
    margin-top: 10px;
}

.md-list .md-list-item .md-list-item-expand button.md-button{
    min-height: 46px;
    line-height: 46px !important;
}


.reserveLayer .md-list-item .md-list-item-container:first-child {
/*    margin-bottom: 46px;*/
    min-height: 36px; 
}

#adminPanel {
/*    height: 100%;*/
    
}

.reserveLayer {
/*    overflow: auto;*/
    height: 100%;
}

.admin-container .loader {
    position: absolute;
    left: 47%;
    top: 50%;
}

.editLayer {
    height: 100%;
    width: 100%;
}


.menu-cards .md-card .price {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-right: 0;
    justify-content: flex-end;
    padding: auto;
    font-weight: 800;
    color: #fe562e;
    font-size: 18px;
    text-align: center;
    width: 90px;
}

/*---------------Menu--------------*/
@media (min-width: 992px){
    .menu-cards .md-avatar.md-big {
        width: 72px; 
        min-width: 72px; 
        height: 72px; 
        min-height: 72px; 
        border-radius: 72px;
    }
}



.edit-inp {
    white-space: nowrap;
    margin: 0;
    width: 100%;
    background: none;
    border: none;
    display: block;
    text-transform: lowercase; 
}
.edit-inp:first-letter{
    text-transform: uppercase !important;
}
input:first-letter{
    text-transform: uppercase;
}
input{
    white-space: nowrap;
}
.price input{
    border: 0;
    background: none;
}

.md-title-18 {
    font-size: 18px;
}
