


.Account {
    
}

body{
    overflow: hidden;
}
.network-block{
    
    justify-content: space-between;
}
.network-block .md-card .md-card-header:last-child{
    margin: 0;
}
.network-block .md-theme-default.md-card{
/*    border: 1px solid rgba(255, 0, 0, 0.5) !important;*/
}
.network-title{
    font-size: 18px;
    
}
.network-title-sub{
    font-size: 18px;
}

.network-block,
.register-block,
.welcom-block,
.login-block{
/*    height: 600px;*/
    margin: 10px;
}

.welcom-block,
.register-block,
.login-block{
    animation: translates 1s;
}
.brick-wall {
    background: url(../img/brickwall.png) ;
/*    overflow: hidden;*/
}
.btn-custom-login {
/*    margin-left: -50px;*/
    background-color: rgba(255, 255, 255, 0) !important;
    border: 0px solid #3f51b5 !important;
    color: #3f51b5 !important;
}

.md-button.back-page{
/*    position: absolute;*/
    width: 64px;
    min-width: 64px; */
    min-height: 36px; 
    margin: 0px 0px; 
    padding: 0 16px; 
}

@keyframes scaling {
  0%   { transform: scale(0); }
/*  50%   { transform: scale(0.5); }*/
  100% { transform: scale(1); }
}

@keyframes translates {
    0% { transform: translate(0, 100%) }
    100% { transform: translate(0, 0%) }
}
