.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: middle;
  
}

.navbar .navbar-collapse{
  text-align: center;
}

.nav-link-custom li a{
    width: 100px;
    line-height: 35px;
    color: white !important;
    letter-spacing: 1px;
}
.nav-custom{
    height: 65px;
    margin: 0;
    background: rgba(255, 255, 255, 0.41);
    border: none;
    
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.md-left {
/*    position: fixed;*/
   z-index: 1040; 
}

.btn-custom-order {
/*    margin-left: -50px;*/
    background-color: rgba(255, 255, 255, 0) !important;
    border: 2px solid white;
    color: white !important;
}

.btn-cutom-menu {
    border: 2px solid #d81b60;
}

.logo-head {
    display: block;
    width: 160px;
    height: 65px;
/*    border: 1px solid black;*/
    background: url(/img/logo-01.svg) no-repeat 50% 50%;
    background-size: 150%;
}
.vertical-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner {
    height: 500px;
    background: url(/img/39830-green-grass-1920x1080-photography-wallpaper.jpg) 50% 50%;
}

.banner-title {
    padding: 5px;
    margin: 20px 20px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
