/*
* {
text-shadow: none !important;
-webkit-box-shadow: none !important;
-webkit-border-radius:0 !important;
-webkit-border-top-left-radius:0 !important;
-webkit-border-bottom-left-radius:0 !important;
-webkit-border-bottom-right-radius:0 !important;
-webkit-border-top-right-radius:0 !important;
}
*/
html {
    overflow-x: hidden;
}


/**********************HEADER********************/

.collapse{
    display: none;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
/*  vertical-align: middle;*/
}
.navbar .navbar-collapse{
  text-align: center;
}
.nav-custom{
    height: 65px;
    margin: 0;
    background: rgba(255, 255, 255, 0);
    border: none;
    transition: all 0.4s ease;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    z-index: 5;
}
.nav-link-custom li a{
    width: 100px;
    line-height: 35px;
    color: white ;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 1s;
}
.nav-link-custom li a:hover{
/*    color: #ffff;*/
    transition: 1s !important;
    text-decoration: none !important;
    border-bottom: 1px solid white;
}
.logo-head {
    display: block;
    width: 250px;
    height: 65px;
/*    border: 1px solid black;*/
    background: url(../img/logo-head-white.png) no-repeat 50% 50%;
    background-size: 100%;
}

.banner {
    height: 670px;
    background: url(../img/background/Banner.jpg) no-repeat 50% 50%;
    background-size: cover;
    -webkit-clip-path: polygon(0 100%,100% calc(100% - 5vw),100% 0,0 0);
/*    background: url(../img/39830-green-grass-1920x1080-photography-wallpaper.jpg) 50% 50%;*/
}
.banner-title {
    padding: 5px;
    margin: 20px 20px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.btn-custom-order {
    margin-left: -50px;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 2px solid white;
    color: white !important;
}
.btn-cutom-menu {
/*    width: 70%;*/
    background: #e67e22 !important;
    border: 2px solid #e67e22;
    z-index: 1;
}
.sticky{
    transition: all 0.4s ease;
    background: rgba(255, 255, 255, 1) !important;
}
.sticky li a {
    color: black !important;
}
.sticky li a:hover{
    background: rgba(128, 128, 128, 0.1) !important;
    border: 0px solid white;
}
.sticky .logo-head{
    background: url(../img/logo-head-black.png) no-repeat 50% 50%;
    background-size: 100%;
}
.slidenav-img{
/*    background-color: aqua;*/
/*    background: url(../img/logo-head-white.png) no-repeat 50% 50%;*/
    background: url(../img/menu-hamburger.jpg) no-repeat 50% 50%;
    background-size: 100%;
}


/**********************BANNER-NEWS********************/

.banner-news {
/*    margin: -5px 0;*/
    padding: 100px 0;
/*    height: 670px;*/
    background: url(../img/background/Banner-new.jpg) no-repeat 50% 50%;
    background-size: cover;
    -webkit-clip-path: polygon(0 5vw, 100% 0, 100% calc(100% - 5vw), 0% 100%); 
}

/****************************************************/

.block-news {
/*    margin-top: 80px;*/
    padding: 35px 20px;
    background-color: rgba(232, 232, 232, 0);
    border: 10px solid white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.block-news::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 15px;
    padding: 10px;
    border: 2px solid #ff7800;
}
.block-news .md-card{
    margin-bottom: 40px;
}
.block-news .md-card .md-card-header{
    margin-bottom: 0;
}

.block-news .md-card span{
    color: rgb(255, 51, 0);
}
.block-news .md-card .md-subhead{
    opacity: 1;
}
.block-news .row-decoration hr{
    border: 1px solid rgba(255, 255, 255, 0.9);
}
.between-block .icon-knife {
   padding: 21px;
   background: url(../img/icon/banner-news-icon-knife.png) no-repeat 50% 50%; 
}
/****************************************************/

.banner-gallery {
/*    margin: -5px 0;*/
    padding: 100px 0;
/*    height: 670px;*/
/*    background: url(../img/icon/Banner-new.jpg) no-repeat 50% 50%;*/
    background: #363636;
    background-size: cover;
    -webkit-clip-path: polygon(0 5vw, 100% 0, 100% calc(100% - 5vw), 0% 100%); 
}
.banner-gallery .md-whiteframe{
    margin: 10px 0;
}
.banner-gallery .md-whiteframe img{
    -webkit-filter: grayscale(0.5);
   -webkit-transition: all .8s ease-out;
}
.banner-gallery .md-whiteframe img:hover{
    -webkit-filter: grayscale(0);
    transition: .6s;
    transform: scale(1.04);
}
.between-block .icon-gallery {
   padding: 21px;
   background: url(../img/icon/icon-gallery.png) no-repeat 50% 50%; 
}

/****************************************************/
.banner-about{
    padding: 200px 0;
    background: #363636;
    background: url(../img/background/about.jpg);
    background-size: cover;
    -webkit-clip-path: polygon(0 5vw, 100% 0, 100% calc(100% - 5vw), 0% 100%); 
}
.banner-about p {
    padding: 25px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 16px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.between-block .icon-info {
   padding: 21px;
   background: url(../img/icon/icon-quill.png) no-repeat 50% 50%; 
}
/****************************************************/
.banner-contacts{
    padding-top: 70px;
    background: #363636;
/*    background: url(/img/376447.jpg) no-repeat 50% 50%;*/
    background-size: cover;
    -webkit-clip-path: polygon(0 5vw, 100% 0, 100% 100%, 0% 100%); 
    
}
.banner-contacts .list-contact .md-list{
/*    background: grey;*/
}
.banner-contacts .maps {
    padding: 15px;
    height: 400px;
    
}

.banner-contacts .maps iframe{
    height: 100%;
    width: 100%;
}


.between-block .icon-contacts {
   padding: 21px;
   background: url(../img/icon/icon-maps.png) no-repeat 50% 50%; 
}
/****************************************************/

.between-block h3{
    font-weight: 400;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    color: #fe562e;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 3px;

}
.between-block .row-decoration{
    margin-top: -15px;
    margin-bottom: 10px;
}
.between-block hr{
    width: 70%;
    border: 1px solid rgba(136, 136, 136, 0.44);
/*    border: 1px solid rgba(136, 136, 136, 0.44);*/
}

.between-block .hr-left hr{
    margin-left: 30%;
}
.between-block .hr-right hr{
    margin-right: 30%;
}


/**********************MEDIA*************************/
@media (max-width: 768px) {
    .btn-custom-order {
        margin-left: 0;
    }
    body {
    overflow-x: hidden;
    }

}
@media (min-width: 768px) {
    .banner-contacts .list-contact .md-list{
        margin-top: 25%;
    }
}

/**************************************************/

.vertical-align {
    display: flex;
/*    flex-direction: column;*/
    align-items: center;
    justify-content: center;
}
.border {
    border: 1px solid black;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .6);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .6);
}
.text-center {
    text-align: center;
}


.margin-100 {
    margin: 100px 0;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../font/MaterialIcons-Regular.woff2) format('woff2'),
       url(../font/MaterialIcons-Regular.woff) format('woff'),
       url(../font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/**************************************************/