.between-block .icon-reserve {
   padding: 21px;
   background: url(../img/icon/icon-reserve.png) no-repeat 50% 50%;

}
#Reserve .md-card{
    overflow: hidden;
    margin-bottom: 10px;
}
.md-card-header .md-icon{
    margin-top: 10px;
}
.banner-reserve {
/*    margin: -5px 0;*/
    padding: 100px 0;
/*    height: 670px;*/
/*    background-color: #363636;*/
    background: url(../img/brickwall.png) ;
/*    background: #363636;*/
/*    background-size: cover;*/
/*    -webkit-clip-path: polygon(0 5vw, 100% 0, 100% calc(100% - 5vw), 0% 100%); */
}
.reserve-card {
    overflow: inherit;
}
.reserve-card .md-card-media{
    height: 250px;
    background: url(../img/menu-hamburger.jpg) no-repeat 50% 45%;
    background-size: cover;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6); 

}
.reserve-card .md-card .md-card-media+.md-card-header{
    padding-top: 0;
}

.reserve-inp{
    width: 120px;
    text-align: center;
    padding: 5px;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12);
    background: url() no-repeat 50% 50%;
}


.reserve-inp .md-button{
    width: 35px;
}

.flatpickr-calendar.hasTime.noCalendar.showTimeInput.arrowTop.open{
    width: 200px;
}
