<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="public">
    <meta http-equiv="content-language" content="ru">
    
    
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="format-detection" content="address=no">

    <!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->
    
    <link rel="stylesheet" href="vue-material/vue-material.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/adminPanel.css">
    <link rel="shortcut icon" href="img/icon/banner-news-icon-knife.png" type="image/x-icon">
    <title>Restaurant</title>
</head>

<body class="brick-wall admin-body">
    <div id="adminPanel">
    <div class="app-navbar slideInDown">
        <img src="img/logoNav.png" alt="" class="img-navbar">
        <span class="navbar-title">Admin Panel</span>
    </div>
    <div class="app-sidebar shadow">
        <md-list>
                <md-list-item v-on:click.native="сhangeLayer('main')">
                    <md-icon>dashboard</md-icon> 
                    <span>Главная</span>
                    <md-divider class="md-inset"></md-divider>     
                </md-list-item>        
                <md-list-item v-on:click.native="сhangeLayer('news')">
                    <md-icon>new_releases</md-icon> 
                    <span>Новости</span>
                    <md-divider class="md-inset"></md-divider>     
                </md-list-item> 
                <md-list-item v-on:click.native="сhangeLayer('editor')">
                    <md-icon>mode_edit</md-icon> 
                    <span>Редактор</span>
                    <md-divider class="md-inset"></md-divider>     
                </md-list-item>         
                <md-list-item v-on:click.native="сhangeLayer('reserve')">
                    <md-icon>date_range</md-icon> 
                    <span>Заявки</span>
                    <md-divider class="md-inset"></md-divider>     
                </md-list-item>         
                <md-list-item v-on:click.native="сhangeLayer('notificat')">
                    <md-icon>notifications_active</md-icon> 
                    <span>Рассылка</span> 
                </md-list-item> 



        </md-list>
    </div>
        
<!--------------------------------------------------------------->
       
<div class="admin-container" v-cloak>
    <md-spinner md-indeterminate class="md-warn loader" v-if="loader"></md-spinner>
        
    <div class="mainLayer anim-fadeIn" v-show="layers.main">
        <md-card md-with-hover>
        <md-card-header class="text-center">
            <div class="md-title">Главная</div>
            <md-icon class="md-warn">sms_failed</md-icon>
        </md-card-header>

        <md-card-content>



        </md-card-content>

        <md-card-actions>

        </md-card-actions>
    </md-card>
    </div>           

    <div class="notification anim-fadeIn" v-show="layers.notificat">

        <md-card class="md-error text-center anim-fadeIn" v-show="notification.errorSend">
            <md-card-content>
                Ошибка отправки!
            </md-card-content>
        </md-card>
        <md-card class="md-success text-center anim-fadeIn" v-show="notification.successSend">
            <md-card-content>
                Успешно отправлено!
            </md-card-content>
        </md-card>

        <md-card md-with-hover>
            <md-card-header class="text-center">
                <div class="md-title">Рассылка уведомлений</div>
                <md-icon class="md-warn">sms_failed</md-icon>
            </md-card-header>

            <md-card-content>

                <md-input-container>
                    <label>Заголовок</label>
                    <md-input placeholder="Введите заголовок уведомления" maxlength="25" v-model="notification.dataSend.title">
                    </md-input>
                </md-input-container>
                <md-input-container>
                    <label>Сообщение</label>
                    <md-input placeholder="Введите сообщение" maxlength="30" v-model="notification.dataSend.body">
                    </md-input>
                </md-input-container>

                <md-switch v-model="notification.saveMessage" class="md-primary">Сохранить форму ввода</md-switch>


            </md-card-content>

            <md-card-actions>
                <md-button class="md-raised md-warn" v-on:click.native="sendPush">Отправить</md-button>
    <!--            <md-button class="md-raised md-warn" v-on:click.native="">Отправить</md-button>-->
            </md-card-actions>
        </md-card>

</div>
    

    <div class="reserveLayer anim-fadeIn" v-show="layers.reserve">
<!--
    <md-card md-with-hover v-if="!listReserve.length">
        <md-card-header class="text-center">
            <div class="md-subhead">Заявок нет</div>
        </md-card-header>
    </md-card>
-->
    <md-card md-with-hover v-for="(reserve,index) in listReserve" class="anim-fadeIn ">
    <div class="md-subhead num-reserve">№{{reserve.ID_reserve}}, Получено: 20.05.2017 <b>17:15</b></div>
    <div class="button-action">
        <md-menu md-size="2" md-direction="bottom left" style="order: 50;" class="action-list" ref="menuAction">
            <md-button class="md-icon-button action-group" md-menu-trigger>
                <md-icon style="opacity: .51">more_vert</md-icon>
            </md-button>
            <md-menu-content>
                <md-button 
                    class="md-warn" v-on:click.native="actions(reserve.ID_reserve,index,'delete'); $refs['menuAction'][index].close()">
                    Удалить
                </md-button>
            </md-menu-content>
        </md-menu>
    </div>

    <md-card-content class="reserve-item">
        <md-avatar class="md-large">
            <img src="img/test-icon/website.png" v-if="reserve.TypeOrder == 'site'">
            <img src="img/test-icon/mobile.png" v-else>
        </md-avatar>
        <md-card-content>
            <div class="">Дата: {{reserve.Date}}</div>
            <div class="">Время: <span class="custom-text-14">{{reserve.Time}}</span></div>
            <div class="">Кол-гостей: <span class="custom-text-14">{{reserve.Count_guest}}</span></div>
        </md-card-content>
        <md-card-content>
            <div class="">Телефон: {{reserve.Telephone}}</div>
            <div class="">Имя: {{reserve.Name}} {{reserve.LastName}}</div>
            <div class="reserve-note">Заметка: {{reserve.Notes}}</div>
        </md-card-content>
    </md-card-content>

    <md-card-content class="footer-card" v-if="reserve.CheckOrdMenu">
        <md-list>
            <md-list-item>
                <md-icon>whatshot</md-icon>
                <span class="button-list">Заказанные блюда</span>

                <md-list-expand>
                    <md-list>
                        <md-list-item class="md-inset" v-for="dish in reserve.dishes">
                            <span  class="lowerText">{{dish.Title_dish}}</span>
                            <span style="float: right; margin-right: 6px">{{dish.Amount_dish}}</span>
                        </md-list-item>
                    </md-list>
                </md-list-expand>
            </md-list-item>
        </md-list>
        <md-divider class="md-inset"></md-divider>
        <div class="info-reserve">
            <table>
                <tr>
                    <td>Кол-во блюд:</td>
                    <td class="custom-text-14" v-bind:text-content.prop="reserve.dishes.length"></td>
                </tr>
                <tr>
                    <td>Общая сумма:</td>
                    <td class="custom-text-14" v-bind:text-content.prop="priceInReserve(reserve.dishes)+'р'"></td>
                </tr>
            </table>
        </div>

    </md-card-content>

</md-card>
    </div>
    
</div>
           
<!-- Конец adminPanel -->
    </div>     
    <script type="text/javascript" src="vue/vue.js"></script>
    <script type="text/javascript" src="vue-material/vue-material.debug.js"></script>
    <script type="text/javascript" src="vue/vue-resource.js"></script>
    <script type="text/javascript" src="js/adminPanel.js"></script>
</body>
</html>