<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="public">
    <meta http-equiv="content-language" content="ru">
    
    
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="format-detection" content="address=no">

    <!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" href="vue-material/vue-material.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/adminPanel.css">
    <link rel="shortcut icon" href="img/icon/banner-news-icon-knife.png" type="image/x-icon">
    <title>Restaurant</title>
</head>

<body class="brick-wall admin-body">
   

    <div id="adminPanel">
    
    <div class="app-navbar slideInDown">
        <img src="img/logoNav.png" alt="" class="img-navbar">
        <span class="navbar-title">Admin Panel</span>
    </div>
    <div class="app-sidebar shadow">
        <md-list>
                <md-list-item v-on:click.native="сhangeLayer('main')">
                    <md-icon>dashboard</md-icon> 
                    <span>Главная</span>
                    <md-divider class="md-inset"></md-divider>     
                </md-list-item>        
                <md-list-item v-on:click.native="сhangeLayer('qr')">
                    <md-icon>new_releases</md-icon> 
                    <span>Бонус-коды</span>
                    <md-divider class="md-inset"></md-divider>     
                </md-list-item> 
                <md-list-item v-on:click.native="сhangeLayer('editor')">
                    <md-icon>mode_edit</md-icon> 
                    <span>Редактор</span>
                    <md-divider class="md-inset"></md-divider>     
                </md-list-item>         
                <md-list-item v-on:click.native="сhangeLayer('reserve')">
                    <md-icon>date_range</md-icon> 
                    <span>Заявки</span>
                    <md-divider class="md-inset"></md-divider>     
                </md-list-item>         
                <md-list-item v-on:click.native="сhangeLayer('notificat')">
                    <md-icon>notifications_active</md-icon> 
                    <span>Рассылка</span> 
                </md-list-item> 



        </md-list>
    </div>
        

       
<div class="admin-container" v-cloak>

    <md-spinner md-indeterminate class="md-warn loader" v-show="loader"></md-spinner>
    
    <div class="mainLayer anim-fadeIn" v-show="layers.main">
<canvas id="myChart" width="400" height="400"></canvas>

        <md-card md-with-hover>
        <md-card-header class="text-center">
            <div class="md-title">Главная</div>
            <md-icon class="md-warn">sms_failed</md-icon>
        </md-card-header>

        <md-card-content>


        </md-card-content>

        <md-card-actions>

        </md-card-actions>
    </md-card>
    </div>    
    <div class="QRLayer anim-fadeIn" v-if="layers.qr">
    <md-button class="md-fab md-fab-bottom-right md-warn" id="addBonus" @click.native="openDialog('addBonusCode')">
        <md-icon>add</md-icon>
    </md-button>
    <div class="container-fluid qr-fluid " style="" >
        <div class="row">
            <div class="col-md-4" style="margin: 15px auto;" v-for="(item,index) in listQRcode">

                <md-card md-with-hover >
                   
                   
                    <div class="md-subhead num-reserve">#{{item.ID_code}}</div>
                   
                    <div class="button-action">
                            <md-button class="md-icon-button" v-on:click.native="deleteCode(item.ID_code,index)">
                                <md-icon style="opacity: .51">clear</md-icon>
                            </md-button>
                    </div>
                    
    <!--
                    <md-card-header class="text-center">
                        <div class="md-title">Бонус-коды</div>
                        <md-icon class="md-warn">sms_failed</md-icon>
                    </md-card-header>
    -->
<!---->
                    <md-card-content class="text-center">

                       
                    <div class="pictureQRCode" :id="'QR'+item.ID_code" v-html="generateCode(item.QRcode,false)" style="margin: auto;" class="anim-fadeIn"></div>    
                        
                        {{item.QRcode}}
                    </md-card-content>

                    <div class="md-card-actions-flex"> 
                        <div>
                            Кол-во: 
                            <span v-bind:class="{ AmountMore: item.Amount >= 10, Amount10: item.Amount <= 10 && item.Amount != 0, Amount0: item.Amount == 0}">{{item.Amount}}</span> 
                        </div>
                        <div>
                            Бонус: 
                            <span class="custom-text-14">{{item.Bonus}}</span>
                        </div>
                        <md-button class="md-icon-button" v-on:click.native="CallPrint(item.QRcode)">
                            <md-icon style="opacity: .51">print</md-icon>
                        </md-button>
<!--                        <md-button class="md-raised md-primary" v-on:click.native="generateCode">Применить</md-button>-->
                    </div>
                </md-card>
            </div>
        </div>
    </div>  
        
  
        <md-dialog md-open-from="#addBonus" md-close-to="#addBonus" ref="addBonusCode" class="dialog-add">
          <md-dialog-title>Новый бонус-код</md-dialog-title>

            <md-dialog-content>
                <div id="newQR" class="anim-fadeIn">
                   <div class="vertical-align qr-icon-block">
                       <div class="qr-icon"></div>
                   </div>
                </div>
               
               
                <md-input-container>
                    <label>Код</label>
                    <md-input v-model="newQRcode.inpQR"></md-input>
                    <md-button class="md-icon-button" v-on:click.native="newQRcode.inpQR = str_rand()">
                        <md-icon style="opacity: .51">autorenew</md-icon>
                    </md-button>
                </md-input-container>  
                <md-input-container>
                    <label>Размер бонуса</label>
                    <md-input type="number" v-model="newQRcode.bonusQR" min="0" max="50"></md-input>
                </md-input-container>                    
                <md-input-container>
                    <label>Количество кодов</label>
                    <md-input type="number" v-model="newQRcode.amountQR"></md-input>
                </md-input-container>    
            </md-dialog-content>
            
        <md-button class="md-raised md-primary" v-on:click.native="generateCode(newQRcode.inpQR,true)">Сгенерировать код</md-button>
         
         
          <md-dialog-actions>
            <md-button class="md-primary" @click.native="closeDialog('addBonusCode')">Отменить</md-button>
            <md-button class="md-primary" @click.native="createCodeDB();">Создать</md-button>
          </md-dialog-actions>
        </md-dialog>   
<!--
            <md-card md-with-hover>
                <md-card-header class="text-center">
                    <div class="md-title">Бонус-коды</div>
                    <md-icon class="md-warn">sms_failed</md-icon>
                </md-card-header>

                <md-card-content>
                    <input type="text" v-model="inpQR">
                    
                    <div id="picQRCode"></div>
                </md-card-content>

                <md-card-actions>
                    <md-button class="md-raised md-primary" v-on:click.native="generateCode">Применить</md-button>
                </md-card-actions>
            </md-card>
-->
    </div> 
    <div class="editLayer anim-fadeIn" v-if="layers.editor">
    
    <md-card md-with-hover>
        <md-card-header class="text-center">
            <div class="md-title-18">Редактирование блюд</div>
            <md-icon class="">sms_failed</md-icon>
            <br>
            <md-switch v-model="editMode" id="my-test2" name="my-test2" v-on:change="SwithEditMode" class="md-primary">Включить режим редактирования</md-switch>
            <br>
        <div v-show="editMode" class="anim-fadeIn">
            <md-button class="md-raised" v-on:click.native="cancelEdit">Отменить</md-button>
            <md-button class="md-raised md-primary" v-on:click.native="sendUpadeMenu">Применить</md-button>
            
            
<md-dialog md-open-from="#addDish" md-close-to="#addDish" ref="addDish" class="dialog-add">
  <md-dialog-title>Новое блюдо</md-dialog-title>

    <md-dialog-content>
        <div class="block-ava-inp">
            <form action="" id="formImg">
                <input type="file" accept="image/jpeg,image/png,image/bmp" name="upload" id="loadpicture" v-on:change="previewImg()" style="display: none;">
            </form>
            <label for="loadpicture" class="inp-imgload">
                <md-avatar class="md-large md-big-newD text-center" id="av">
        <!--            <img src="img/food/id_default.jpg" alt="People">-->
        <!--            <img :md-src="viewImg" alt="People" >-->
                    <md-image :md-src="viewImg"></md-image>
                </md-avatar>
            </label>
        </div>
<!--        @change="onFileChange1()"-->
        <md-input-container>
            <label>Название</label>
            <md-input v-model="newDish.Title_dish"></md-input>
        </md-input-container>        
        <md-input-container>
            <label>Доп. инфо</label>
            <md-input v-model="newDish.Caption_dish"></md-input>
        </md-input-container>         
<!--
        <md-input-container>
            <label>Категория</label>
            <md-input v-model="newDish.Category_dish"></md-input>
        </md-input-container>        
-->
<md-input-container>
    <label for="country">Country</label>
    <md-select name="category" id="caregory" v-model="newDish.Category_dish">
        <md-option value="Hot_dishes">Горячее</md-option>
        <md-option value="Dessert">Дессерты</md-option>
        <md-option value="Soup">Суп</md-option>
    </md-select>
</md-input-container>
        <md-input-container>
            <label>Стоимость</label>
            <md-input type="number" v-model="newDish.Price_dish" min="0"></md-input>
        </md-input-container>
    </md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-primary" @click.native="closeDialog('addDish')">Cancel</md-button>
    <md-button class="md-primary" @click.native="createDish(); closeDialog('addDish'); ">Ok</md-button>
  </md-dialog-actions>
</md-dialog>
   <md-button class="md-primary md-raised" id="addDish" @click.native="openDialog('addDish')">Добавить</md-button>
    
        </div>
        </md-card-header>

        <md-card-content>
        </md-card-content>  
    </md-card>   
        <br>
          
    <md-tabs class="menu-cards md-warn"  id="tabs" md-centered md-fixed v-cloak>
       
        <md-tab md-label="Горячее" md-icon="receipt" class="icon-hot">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3 col-xs-12  request-null text-center" v-if="errorMenu">
                        <md-card>
                            <h4>Что-то пошло не так..</h4>
                        </md-card>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" v-for="(post,index) in listMenu.Hot_dishes">

                    <md-card v-bind:class="{ disabledDishAdmin: !post.Available }">
                    <div class="button-action" v-show="editMode">
                            <md-switch v-model="post.Available" v-on:change="post['edit']= true" name="available" class="md-warn" ></md-switch>
                            <md-button class="md-icon-button action-group" v-on:click.native="deleteDish(post,index)">
                                <md-icon style="opacity: .51">clear</md-icon>
                            </md-button>
                    </div>
    <!--                    v-on:click.native="$refs['menuActionE'][index].close()" onclick="adminPanel.listMenu.Hot_dishes[2]['edit'] = true; ">-->
                        <md-card-header>
                            <md-avatar class="md-big">

                                <img v-bind:src="post.ImagePath">
                            </md-avatar>
                            <md-card-header-text>
                        <div class="md-title">
    <!--                        <br>-->
                            <input type="text" class="edit-inp" v-on:change="post['edit']= true" v-model="post.Title_dish" :disabled="!editMode">
                        </div>
                        <div class="md-subhead">
    <!--                        {{ post.Caption_dish }} <br>-->
                            <input type="text" class="edit-inp" v-on:change="post['edit']= true" v-model="post.Caption_dish" :disabled="!editMode">
                        </div>

                            </md-card-header-text>
                            <div class="price">
                               <input type="number" class="text-center" v-on:change="post['edit']= true" v-model="post.Price_dish" :disabled="!editMode">
    <!--                            <{{ post.Price_dish }}р</span>-->
                            </div>
                        </md-card-header>

                    <md-ink-ripple />
                    </md-card>
                     <div class="clearfix"></div>
                    </div>
                </div>
        </md-tab>
        <md-tab md-label="Дессерты" md-icon="receipt" class="icon-hot">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3 col-xs-12  request-null text-center" v-if="errorMenu">
                        <md-card>
                            <h4>Что-то пошло не так..</h4>
                        </md-card>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" v-for="(post,index) in listMenu.Dessert">

                    <md-card v-bind:class="{ disabledDishAdmin: !post.Available }">
                    <div class="button-action" v-show="editMode">
                            <md-switch v-model="post.Available" v-on:change="post['edit']= true" name="available" class="md-warn" ></md-switch>
                            <md-button class="md-icon-button action-group" v-on:click.native="deleteDish(post,index)">
                                <md-icon style="opacity: .51">clear</md-icon>
                            </md-button>
                    </div>
    <!--                    v-on:click.native="$refs['menuActionE'][index].close()" onclick="adminPanel.listMenu.Hot_dishes[2]['edit'] = true; ">-->
                        <md-card-header>
                            <md-avatar class="md-big">

                                <img v-bind:src="post.ImagePath">
                            </md-avatar>
                            <md-card-header-text>
                        <div class="md-title">
    <!--                        <br>-->
                            <input type="text" class="edit-inp" v-on:change="post['edit']= true" v-model="post.Title_dish" :disabled="!editMode">
                        </div>
                        <div class="md-subhead">
    <!--                        {{ post.Caption_dish }} <br>-->
                            <input type="text" class="edit-inp" v-on:change="post['edit']= true" v-model="post.Caption_dish" :disabled="!editMode">
                        </div>

                            </md-card-header-text>
                            <div class="price">
                               <input type="number" class="text-center" v-on:change="post['edit']= true" v-model="post.Price_dish" :disabled="!editMode">
    <!--                            <{{ post.Price_dish }}р</span>-->
                            </div>
                        </md-card-header>

                    <md-ink-ripple />
                    </md-card>
                     <div class="clearfix"></div>
                    </div>
                </div>
        </md-tab>
        <md-tab md-label="Суп" md-icon="receipt" class="icon-hot">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3 col-xs-12  request-null text-center" v-if="errorMenu">
                        <md-card>
                            <h4>Что-то пошло не так..</h4>
                        </md-card>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" v-for="(post,index) in listMenu.Soup">

                    <md-card v-bind:class="{ disabledDishAdmin: !post.Available }">
                    <div class="button-action" v-show="editMode">
                            <md-switch v-model="post.Available" v-on:change="post['edit']= true" name="available" class="md-warn" ></md-switch>
                            <md-button class="md-icon-button action-group" v-on:click.native="deleteDish(post,index)">
                                <md-icon style="opacity: .51">clear</md-icon>
                            </md-button>
                    </div>
    <!--                    v-on:click.native="$refs['menuActionE'][index].close()" onclick="adminPanel.listMenu.Hot_dishes[2]['edit'] = true; ">-->
                        <md-card-header>
                            <md-avatar class="md-big">

                                <img v-bind:src="post.ImagePath">
                            </md-avatar>
                            <md-card-header-text>
                        <div class="md-title">
    <!--                        <br>-->
                            <input type="text" class="edit-inp" v-on:change="post['edit']= true" v-model="post.Title_dish" :disabled="!editMode">
                        </div>
                        <div class="md-subhead">
    <!--                        {{ post.Caption_dish }} <br>-->
                            <input type="text" class="edit-inp" v-on:change="post['edit']= true" v-model="post.Caption_dish" :disabled="!editMode">
                        </div>

                            </md-card-header-text>
                            <div class="price">
                               <input type="number" class="text-center" v-on:change="post['edit']= true" v-model="post.Price_dish" :disabled="!editMode">
    <!--                            <{{ post.Price_dish }}р</span>-->
                            </div>
                        </md-card-header>

                    <md-ink-ripple />
                    </md-card>
                     <div class="clearfix"></div>
                    </div>
                </div>
        </md-tab>

    </md-tabs>
    
    </div>           
    <div class="reserveLayer anim-fadeIn" v-if="layers.reserve">
    
    <div class="container-fluid" style="">
    
        
        <div class="new-reserve col-sm-12 col-md-6">
            <span class="label-new-res">Новые заявки</span>
            <md-card md-with-hover v-for="(reserve,index) in listReserveNew" class="anim-fadeIn">
    
    <div class="md-subhead num-reserve">№{{reserve.ID_reserve}}, Получено: {{reserve.Data_create}}</div>
    <div class="button-action">
        <md-menu md-size="2" md-direction="bottom left" style="order: 50;" class="action-list" ref="menuAction">
            <md-button class="md-icon-button action-group" md-menu-trigger>
                <md-icon style="opacity: .51">more_vert</md-icon>
            </md-button>
            <md-menu-content>
                <md-button 
                    v-if="reserve.TypeOrder == 'mobile'"
                    class="md-primary" v-on:click.native="sendAcceptNotif(reserve, 'Подтверждена!'); actionAcceptRes(reserve,index); $refs['menuAction'][index].close()">
                    ОК
                </md-button>                
                <md-button 
                    v-if="reserve.TypeOrder == 'site'"
                    class="md-primary" v-on:click.native="actionAcceptRes(reserve,index); $refs['menuAction'][index].close()">
                    OK
                </md-button>
                <md-button 
                    class="md-warn" v-on:click.native="actionsDelRes(reserve,index,'new'); sendAcceptNotif(reserve, 'Отклонена!'); $refs['menuAction'][index].close()">
                    Отклонить
                </md-button>
            </md-menu-content>
        </md-menu>
    </div>

    <md-card-content class="reserve-item">
        <md-avatar class="md-large">
            <img src="img/test-icon/website.png" v-if="reserve.TypeOrder == 'site'">
            <img src="img/test-icon/mobile.png" v-else>
        </md-avatar>
        <md-card-content>
            <div class="">Дата: {{reserve.Date}}</div>
            <div class="">Время: <span class="custom-text-14">{{reserve.Time}}</span></div>
            <div class="">Кол-гостей: <span class="custom-text-14">{{reserve.Count_guest}}</span></div>
        </md-card-content>
        <md-card-content>
            <div class="">Телефон: {{reserve.Telephone}}</div>
            <div class="">Имя: {{reserve.Name}} {{reserve.LastName}}</div>
            <div class="reserve-note">Заметка: {{reserve.Notes}}</div>
        </md-card-content>
    </md-card-content>

   
   
   

    <md-card-content class="footer-card" v-if="reserve.CheckOrdMenu">
        <md-list>
            <md-list-item>
                <md-icon>whatshot</md-icon>
                <span class="button-list">Заказанные блюда</span>

                <md-list-expand>
                    <md-list>
                        <md-list-item class="md-inset" v-for="dish in reserve.dishes">
                            <span  class="lowerText">{{dish.Title_dish}}</span>
                            <span style="float: right; margin-right: 6px">{{dish.Amount_dish}}</span>
                        </md-list-item>
                    </md-list>
                </md-list-expand>
            </md-list-item>
        </md-list>
        
        <md-divider class="md-inset"></md-divider>
        <div class="info-reserve">
            <table>
                <tr>
                    <td>Кол-во блюд:</td>
                    <td class="custom-text-14" v-bind:text-content.prop="reserve.dishes.length"></td>
                </tr>
                <tr v-if="reserve.UseBonus">
                    <td>Бонус-код:</td>
                    <td class="custom-text-14" v-bind:text-content.prop="reserve.Bonus+'р'"></td>
                </tr>                              
                <tr>
                    <td>Общая сумма:</td>
                    <td class="custom-text-14" v-bind:text-content.prop="priceInReserve(reserve.dishes, reserve.Bonus)+'р'"></td>
                </tr>
            </table>
        </div>

    </md-card-content>

</md-card>
        </div>
        <div class="accept-reserve  col-sm-12 col-md-6">
            <span class="label-accept-res">Подтвержденные</span>
            <md-card md-with-hover v-for="(reserve,index) in listReserveAccept" class="anim-fadeIn">
    
    <div class="md-subhead num-reserve">№{{reserve.ID_reserve}}, Получено: {{reserve.Data_create}}</div>
    <div class="button-action">
        <md-menu md-size="2" md-direction="bottom left" style="order: 50;" class="action-list" ref="menuAction">
            <md-button class="md-icon-button action-group" md-menu-trigger>
                <md-icon style="opacity: .51">more_vert</md-icon>
            </md-button>
            <md-menu-content>
                <md-button 
                    class="md-warn" v-on:click.native="$refs['menuAction'][index].close(); actionsDelRes(reserve,index,'accept');" >
                    Удалить
                </md-button>
            </md-menu-content>
        </md-menu>
    </div>

    <md-card-content class="reserve-item">
        <md-avatar class="md-large">
            <img src="img/test-icon/website.png" v-if="reserve.TypeOrder == 'site'">
            <img src="img/test-icon/mobile.png" v-else>
        </md-avatar>
        <md-card-content>
            <div class="">Дата: {{reserve.Date}}</div>
            <div class="">Время: <span class="custom-text-14">{{reserve.Time}}</span></div>
            <div class="">Кол-гостей: <span class="custom-text-14">{{reserve.Count_guest}}</span></div>
        </md-card-content>
        <md-card-content>
            <div class="">Телефон: {{reserve.Telephone}}</div>
            <div class="">Имя: {{reserve.Name}} {{reserve.LastName}}</div>
            <div class="reserve-note">Заметка: {{reserve.Notes}}</div>
        </md-card-content>
    </md-card-content>
    
    <md-card-content class="footer-card" v-if="reserve.CheckOrdMenu">
        <md-list>
            <md-list-item>
                <md-icon>whatshot</md-icon>
                <span class="button-list">Заказанные блюда</span>

                <md-list-expand>
                    <md-list>
                        <md-list-item class="md-inset" v-for="dish in reserve.dishes">
                            <span  class="lowerText">{{dish.Title_dish}}</span>
                            <span style="float: right; margin-right: 6px">{{dish.Amount_dish}}</span>
                        </md-list-item>
                    </md-list>
                </md-list-expand>
            </md-list-item>
        </md-list>
        
        <md-divider class="md-inset"></md-divider>
        <div class="info-reserve">
            <table>
                <tr>
                    <td>Кол-во блюд:</td>
                    <td class="custom-text-14" v-bind:text-content.prop="reserve.dishes.length"></td>
                </tr>
                <tr v-if="reserve.UseBonus">
                    <td>Бонус-код:</td>
                    <td class="custom-text-14" v-bind:text-content.prop="reserve.Bonus+'р'"></td>
                </tr>                
                <tr>
                    <td>Общая сумма:</td>
                    <td class="custom-text-14" v-bind:text-content.prop="priceInReserve(reserve.dishes, reserve.Bonus)+'р'"></td>
                </tr>
            </table>
        </div>

    </md-card-content>

</md-card>
        </div>        
                
                    
                            
    </div>




<!--
    <md-card md-with-hover v-for="(reserve,index) in listReserve" class="anim-fadeIn col-md-6">
    
    <div class="md-subhead num-reserve">№{{reserve.ID_reserve}}, Получено: {{reserve.Data_create}}</div>
    <div class="button-action">
        <md-menu md-size="2" md-direction="bottom left" style="order: 50;" class="action-list" ref="menuAction">
            <md-button class="md-icon-button action-group" md-menu-trigger>
                <md-icon style="opacity: .51">more_vert</md-icon>
            </md-button>
            <md-menu-content>
                <md-button 
                    v-if="reserve.TypeOrder == 'mobile'"
                    class="md-primary" v-on:click.native="sendAcceptNotif(reserve, 'Подтверждена!'); $refs['menuAction'][index].close()">
                    ОК
                </md-button>
                <md-button 
                    class="md-warn" v-on:click.native="actionsDelRes(reserve.ID_reserve,index); sendAcceptNotif(reserve, 'Отклонена!'); $refs['menuAction'][index].close()">
                    Удалить
                </md-button>
            </md-menu-content>
        </md-menu>
    </div>

    <md-card-content class="reserve-item">
        <md-avatar class="md-large">
            <img src="img/test-icon/website.png" v-if="reserve.TypeOrder == 'site'">
            <img src="img/test-icon/mobile.png" v-else>
        </md-avatar>
        <md-card-content>
            <div class="">Дата: {{reserve.Date}}</div>
            <div class="">Время: <span class="custom-text-14">{{reserve.Time}}</span></div>
            <div class="">Кол-гостей: <span class="custom-text-14">{{reserve.Count_guest}}</span></div>
        </md-card-content>
        <md-card-content>
            <div class="">Телефон: {{reserve.Telephone}}</div>
            <div class="">Имя: {{reserve.Name}} {{reserve.LastName}}</div>
            <div class="reserve-note">Заметка: {{reserve.Notes}}</div>
        </md-card-content>
    </md-card-content>

   
   
   

    <md-card-content class="footer-card" v-if="reserve.CheckOrdMenu">
        <md-list>
            <md-list-item>
                <md-icon>whatshot</md-icon>
                <span class="button-list">Заказанные блюда</span>

                <md-list-expand>
                    <md-list>
                        <md-list-item class="md-inset" v-for="dish in reserve.dishes">
                            <span  class="lowerText">{{dish.Title_dish}}</span>
                            <span style="float: right; margin-right: 6px">{{dish.Amount_dish}}</span>
                        </md-list-item>
                    </md-list>
                </md-list-expand>
            </md-list-item>
        </md-list>
        
        <md-divider class="md-inset"></md-divider>
        <div class="info-reserve">
            <table>
                <tr>
                    <td>Кол-во блюд:</td>
                    <td class="custom-text-14" v-bind:text-content.prop="reserve.dishes.length"></td>
                </tr>
                <tr>
                    <td>Общая сумма:</td>
                    <td class="custom-text-14" v-bind:text-content.prop="priceInReserve(reserve.dishes)+'р'"></td>
                </tr>
            </table>
        </div>

    </md-card-content>

</md-card>
    <md-card md-with-hover v-for="(reserve,index) in listReserve" class="anim-fadeIn col-md-6">
    
    <div class="md-subhead num-reserve">№{{reserve.ID_reserve}}, Получено: {{reserve.Data_create}}</div>
    <div class="button-action">
        <md-menu md-size="2" md-direction="bottom left" style="order: 50;" class="action-list" ref="menuAction">
            <md-button class="md-icon-button action-group" md-menu-trigger>
                <md-icon style="opacity: .51">more_vert</md-icon>
            </md-button>
            <md-menu-content>
                <md-button 
                    v-if="reserve.TypeOrder == 'mobile'"
                    class="md-primary" v-on:click.native="sendAcceptNotif(reserve, 'Подтверждена!'); $refs['menuAction'][index].close()">
                    ОК
                </md-button>
                <md-button 
                    class="md-warn" v-on:click.native="actionsDelRes(reserve.ID_reserve,index); sendAcceptNotif(reserve, 'Отклонена!'); $refs['menuAction'][index].close()">
                    Удалить
                </md-button>
            </md-menu-content>
        </md-menu>
    </div>

    <md-card-content class="reserve-item">
        <md-avatar class="md-large">
            <img src="img/test-icon/website.png" v-if="reserve.TypeOrder == 'site'">
            <img src="img/test-icon/mobile.png" v-else>
        </md-avatar>
        <md-card-content>
            <div class="">Дата: {{reserve.Date}}</div>
            <div class="">Время: <span class="custom-text-14">{{reserve.Time}}</span></div>
            <div class="">Кол-гостей: <span class="custom-text-14">{{reserve.Count_guest}}</span></div>
        </md-card-content>
        <md-card-content>
            <div class="">Телефон: {{reserve.Telephone}}</div>
            <div class="">Имя: {{reserve.Name}} {{reserve.LastName}}</div>
            <div class="reserve-note">Заметка: {{reserve.Notes}}</div>
        </md-card-content>
    </md-card-content>

   
   
   

    <md-card-content class="footer-card" v-if="reserve.CheckOrdMenu">
        <md-list>
            <md-list-item>
                <md-icon>whatshot</md-icon>
                <span class="button-list">Заказанные блюда</span>

                <md-list-expand>
                    <md-list>
                        <md-list-item class="md-inset" v-for="dish in reserve.dishes">
                            <span  class="lowerText">{{dish.Title_dish}}</span>
                            <span style="float: right; margin-right: 6px">{{dish.Amount_dish}}</span>
                        </md-list-item>
                    </md-list>
                </md-list-expand>
            </md-list-item>
        </md-list>
        
        <md-divider class="md-inset"></md-divider>
        <div class="info-reserve">
            <table>
                <tr>
                    <td>Кол-во блюд:</td>
                    <td class="custom-text-14" v-bind:text-content.prop="reserve.dishes.length"></td>
                </tr>
                <tr>
                    <td>Общая сумма:</td>
                    <td class="custom-text-14" v-bind:text-content.prop="priceInReserve(reserve.dishes)+'р'"></td>
                </tr>
            </table>
        </div>

    </md-card-content>

</md-card>
-->
   
    </div>
    
    <div class="notification anim-fadeIn" v-if="layers.notificat">

        <md-card class="md-error text-center anim-fadeIn" v-show="notification.errorSend">
            <md-card-content>
                Ошибка отправки!
            </md-card-content>
        </md-card>
        <md-card class="md-success text-center anim-fadeIn" v-show="notification.successSend">
            <md-card-content>
                Успешно отправлено!
            </md-card-content>
        </md-card>

        <md-card md-with-hover>
            <md-card-header class="text-center">
                <div class="md-title">Рассылка уведомлений</div>
                <md-icon class="md-warn">sms_failed</md-icon>
            </md-card-header>

            <md-card-content>

                <md-input-container>
                    <label>Заголовок</label>
                    <md-input placeholder="Введите заголовок уведомления" maxlength="25" v-model="notification.dataSend.title">
                    </md-input>
                </md-input-container>
                <md-input-container>
                    <label>Сообщение</label>
                    <md-input placeholder="Введите сообщение" maxlength="30" v-model="notification.dataSend.body">
                    </md-input>
                </md-input-container>

                <md-switch v-model="notification.saveMessage" class="md-primary">Сохранить форму ввода</md-switch>


            </md-card-content>

            <md-card-actions>
                <md-button class="md-raised md-warn" v-on:click.native="sendPush">Отправить</md-button>
    <!--            <md-button class="md-raised md-warn" v-on:click.native="">Отправить</md-button>-->
            </md-card-actions>
        </md-card>

</div>
    
    
    
    <md-snackbar ref="snackbar">
        <span>{{snackMessage}}</span>
<!--        <md-button class="md-accent" md-theme="light-blue" v-on:click.native="$refs.snackbar.options">Вернуть</md-button>-->
    </md-snackbar>
</div>
           
<!-- Конец adminPanel -->
    </div>     

    
    <script type="text/javascript" src="vue/vue.js"></script>

    <script type="text/javascript" src="vue-material/vue-material.js"></script>
    <script type="text/javascript" src="vue/vue-resource.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/GenerateQR.js"></script>
    <script type="text/javascript" src="js/tools.js"></script>

    <script type="text/javascript" src="js/adminPanel.js"></script>

    
</body>
</html>