<!DOCTYPE html>

<html>

<head>

    <!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->

<!--
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
-->


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--    <link href="css/material-icons.css" media="all" rel="stylesheet" type="text/css" >-->
    <link rel="stylesheet" href="vue-material/vue-material.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <title>Restaurant</title>
</head>

<body>
    <div id="header">
<!--------------------------------------------------------------------->
       
    <nav class="navbar navbar-default navbar-fixed-top nav-custom" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <md-button class="navbar-toggle" v-on:click.native="toggleLeftSidenav">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav nav-link-custom">
                        <li><a href="#News">Новости</a></li>
                        <li ><a href="#">Галлерея</a></li>
                        <li class="logo-head"></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    <div class="container-fluid banner vertical-align text-center">
        <div class="row">
            <div class="banner-title">
                <h1 class="">MAKING DELICIOUS <br>PREMIUM FOOD</h1>
            </div>
            <div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <md-button class="md-raised md-accent btn-cutom-menu">Меню</md-button>
                </div>                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <md-button class="md-raised btn-custom-order">Заказ столика</md-button>
                </div>
            </div>
        </div>
    </div>
    
<!--------------------------------------------------------------------->
   
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 between-block">
                <div class="col-md-12 text-center">
                    <h3>Блюда недели</h3>
                </div>
                <div class="col-md-12 row-decoration">
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-left "><hr></div>
                        <div class="col-md-2 col-sm-2 col-xs-2 news-icon "></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-right "><hr></div>
                </div>
            </div>
        </div>
    </div>
    
<!--------------------------------------------------------------------->   
    <div class="container-fluid banner-news" id="News">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 block-news">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <md-card>
                        <md-card-header>
                            <md-avatar class="md-large">
                                <img src="../img/img-hood.jpg" alt="Hood">
                            </md-avatar>
                            <md-card-header-text>
                                <div class="md-title">Title goes here</div>
                                <div class="md-subhead">На этой неделе <span><b>50</b></span> тургриков</div>
                            </md-card-header-text>
                        </md-card-header>
                    </md-card>
                    <md-card>
                        <md-card-header>
                            <md-avatar class="md-large">
                                <img src="../img/img-hood.jpg" alt="Hood">
                            </md-avatar>
                            <md-card-header-text>
                                <div class="md-title">Title goes here</div>
                                <div class="md-subhead">На этой неделе <span><b>50</b></span> тургриков</div>
                            </md-card-header-text>
                        </md-card-header>
                    </md-card>
                    <md-card>
                        <md-card-header>
                            <md-avatar class="md-large">
                                <img src="../img/img-hood.jpg" alt="Hood">
                            </md-avatar>
                            <md-card-header-text>
                                <div class="md-title">Title goes here</div>
                                <div class="md-subhead">На этой неделе <span><b>50</b></span> тургриков</div>
                            </md-card-header-text>
                        </md-card-header>
                    </md-card>
                </div>                
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <md-card>
                        <md-card-header>
                            <md-avatar class="md-large">
                                <img src="../img/img-hood.jpg" alt="Hood">
                            </md-avatar>
                            <md-card-header-text>
                                <div class="md-title">Title goes here</div>
                                <div class="md-subhead">На этой неделе <span><b>50</b></span> тургриков</div>
                            </md-card-header-text>
                        </md-card-header>
                    </md-card>
                    <md-card>
                        <md-card-header>
                            <md-avatar class="md-large">
                                <img src="../img/img-hood.jpg" alt="Hood">
                            </md-avatar>
                            <md-card-header-text>
                                <div class="md-title">Title goes here</div>
                                <div class="md-subhead">На этой неделе <span><b>50</b></span> тургриков</div>
                            </md-card-header-text>
                        </md-card-header>
                    </md-card>
                    <md-card>
                        <md-card-header>
                            <md-avatar class="md-large">
                                <img src="../img/img-hood.jpg" alt="Hood">
                            </md-avatar>
                            <md-card-header-text>
                                <div class="md-title">Title goes here</div>
                                <div class="md-subhead">На этой неделе <span><b>50</b></span> тургриков</div>
                            </md-card-header-text>
                        </md-card-header>
                    </md-card>
                </div>
                <div class="col-md-12 between-block row-decoration">
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-left "><hr></div>
                        <div class="col-md-2 col-sm-2 col-xs-2 news-icon "></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-right "><hr></div>
                </div>
            </div>
        </div>
    </div>
        <div>
            <md-button class="md-raised md-accent" v-on:click.native="toggleLeftSidenav">Первое меню</md-button>
            <md-button class="md-raised md-accent" v-on:click.native="toggleRightSidenav">Второе меню</md-button>
            <p>Open console to see the events</p>
        </div>


        <md-sidenav  class="md-left md-fixed" ref="leftSidenav" v-on:open="open('Left')" v-on:close="close('Left')">
            <md-toolbar class="md-account-header">
                    
<!--                <img src="../img/logo-head-white.png" alt="">-->
            </md-toolbar>
            <md-list>
                <md-list-item v-on:click.native="$refs.sidenav.toggle()" class="md-primary">
                    <md-icon><i class="material-icons">assignment</i></md-icon>
                    <span>Меню</span>
                </md-list-item>


                <md-list-item v-on:click.native="$refs.sidenav.toggle()">
                    <md-icon>access_time</md-icon> 
                    <span>Заказ</span>
                </md-list-item>                
                <md-list-item v-on:click.native="$refs.sidenav.toggle()">
                    <md-icon>info</md-icon> 
                    <span>Новости</span>
                </md-list-item>

                <md-list-item v-on:click.native="$refs.sidenav.toggle()">
                    <md-icon>collections</md-icon> 
                    <span>Галлерея</span>
                </md-list-item>                
                <md-list-item v-on:click.native="$refs.sidenav.toggle()">
                    <md-icon>room</md-icon> 
                    <span>Контакты</span>
                </md-list-item>                
                <md-list-item v-on:click.native="$refs.sidenav.toggle()">
                    <md-icon>start</md-icon> 
                    <span>О нас</span>
                </md-list-item>
            </md-list>
        </md-sidenav>

<!--
        <md-sidenav class="md-right" ref="rightSidenav" v-on:click.native="open('Right')" v-on:click.native="close('Right')">
            <md-toolbar>
                <div class="md-toolbar-container">
                    <h3 class="md-title">Sidenav content</h3>
                </div>
            </md-toolbar>

            <md-button class="md-raised md-accent" v-on:click.native="closeRightSidenav">Close</md-button>
        </md-sidenav>
-->

    

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
    <!--    </div>-->




    <!----------------------------------------------------->
    <div id="vue">
        {{ message }}
    </div>
    <!----------------------------------------------------->
    <div id="vue2">
        <span v-bind:title="hint">
            Наведи и чет будет круто
        </span>
        <br>
        <p>{{info}}</p>
    </div>
    <!----------------------------------------------------->
    <div id="vue3">
        <p v-if="state">Блок видимости</p>
    </div>

    <button onclick="change()">Кнопка</button>
    <!----------------------------------------------------->
    <div id="vue4">
        <ul>
            <li v-for="item in list">
                {{item.text}}
            </li>
        </ul>
    </div>

    <!--
    <div id="vue5">
        <input v-model="message">
    </div>
    <br>
    <button onclick="addToList()">Добавить</button>    
-->

    <div id="vue5">
        <input v-model="message">
        <br>
        <button v-on:click="addNote">Добавить</button>
    </div>
    <!----------------------------------------------------->
    <br>
    <div id="vue6">
        <p>{{testVue6}}</p>
        <button v-on:click="event">Выполнить функцию</button>
    </div>
    <!----------------------------------------------------->

    


    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>

<!--    <script type="text/javascript" src="js/bootstrap.js"></script>-->

    <script type="text/javascript" src="vue/vue.js"></script>
    <script type="text/javascript" src="vue-material/vue-material.debug.js"></script>

    <script type="text/javascript" src="js/index.js"></script>


    

    <!--
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script type="text/javascript" src="angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="angular/angular-aria.min.js"></script>
    <script type="text/javascript" src="angular/angular-messages.min.js"></script>

    <script type="text/javascript" src="angular/angular-material.min.js"></script>
-->

</body>

</html>
