<!DOCTYPE html>

<html>

<head>

    <!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->
    <!--
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
-->

    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="angular/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Hello World</title>
</head>

<body>
    <div id="vue">
        {{ message }}
    </div>

    <div id="vue2">
        <span v-bind:title="hint">
            Наведи и чет будет круто
        </span>
        <br>
        <p>{{info}}</p>
    </div>

    <div id="vue3">
        <p v-if="state">Блок видимости</p>
    </div>

    <button onclick="change()">Кнопка</button>

    <div id="vue4">
        <ul>
            <li v-for="item in list">
                {{item.text}}
            </li>
        </ul>
    </div>

    <div id="app-6">
        <input v-model="message">
    </div>

    
    <button onclick="addToList()">Добавить</button>     
   
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="vue/vue.js"></script>
    <script type="text/javascript" src="js/index.js"></script>




    <!--
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script type="text/javascript" src="angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="angular/angular-aria.min.js"></script>
    <script type="text/javascript" src="angular/angular-messages.min.js"></script>

    <script type="text/javascript" src="angular/angular-material.min.js"></script>
-->

</body>

</html>
