<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="public">
    <meta http-equiv="content-language" content="ru">


    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="format-detection" content="address=no">

    <!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/listReserve.css">
    <link rel="stylesheet" href="vue-material/vue-material.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

    <link rel="shortcut icon" href="img/icon/banner-news-icon-knife.png" type="image/x-icon">

    <title>Restaurant</title>
</head>

<body class="vertical-align brick-wall">
    <!--    <div id="header">-->

    <!--------------------------------------------------------------------->

    <div id="ListReserve" class="Reserve" v-cloak>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sx-12 col-xs-offset-0">
                    <div class="col-xs-6 col-xs-offset-3 request-null text-center" v-if="error">
                        <md-card>
                            <h4>Что-то пошло не так..</h4>
                        </md-card>
                    </div>

                    <div class="col-xs-12 col-xs-offset-0 " v-for="item in ListReserve">

                        <md-card>
                            <md-card-header>
                                <md-avatar class="md-big">

                                    <img src="img/icon/Realtime%20Protection-50.png">
                                </md-avatar>
                                <md-card-header-text>
                                    <div class="md-title ">Заказ на бронирование № {{item.Num_reserve}}</div>
                                    <div class="md-subhead text-justify">День: {{ item.Date }}</div>
                                    <div class="md-subhead text-justify">Время: {{ item.Time }}</div>
                                    <div class="md-subhead text-justify">Телефон: {{ item.Telephone }}</div>
                                    <div class="md-subhead text-justify">Имя: {{ item.Name }}</div>
                                    <div class="md-subhead text-justify">Фамилия: {{ item.LastName}}</div>
                                    <div class="md-subhead text-justify">Кол-во гостей: {{ item.Count_guest }}</div>
                                    <div class="md-subhead text-justify">Заметка: {{ item.Notes }}</div>
                                    
                                    <!--                            <div class="md-subhead">{{ post.id }}</div>-->
                                    <!--                            <div class="md-title">{{ post.title }}</div>-->

                                </md-card-header-text>
                                <!--
                                        <md-card-header-text>
                                            <div class="md-subhead">{{ post.id }}</div>
                                        </md-card-header-text>
                -->
                            </md-card-header>
                            
                                    <md-card-actions>
                                        <md-button>Закрыть</md-button>
                                        <md-button>Подтвердить</md-button>
                                    </md-card-actions>
                
                            <md-ink-ripple />
                        </md-card>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--------------------------------------------------------------------->

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <script type="text/javascript" src="vue/vue.js"></script>
    <script type="text/javascript" src="vue-material/vue-material.debug.js"></script>
    <script type="text/javascript" src="vue/vue-resource.js"></script>


    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/ListReserve.js"></script>



</body>

</html>
