<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="public">
    <meta http-equiv="content-language" content="ru">
    
    
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="format-detection" content="address=no">
    
    <!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->


<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--    <link href="css/material-icons.css" media="all" rel="stylesheet" type="text/css" >-->
    <link rel="stylesheet" href="vue-material/vue-material.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="shortcut icon" href="img/icon/banner-news-icon-knife.png" type="image/x-icon">
    <title>Restaurant</title>
</head>

<body class="brick-wall">
    <div id="header" v-cloak>
    
    <md-sidenav  class="md-fixed md-left" ref="leftSidenav" v-on:open="open('Left')" v-on:close="close('Left')" md-swipeable :md-swipe-distance="30" :md-swipe-threshold="30">
        <md-toolbar class="md-account-header slidenav-img">
        
        </md-toolbar>
        <div class="container-fluid " data-row-decoration>
            <div class="row">
                    <div class="col-md-12 between-block row-decoration">
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-left "><hr></div>
                        <div class="col-md-2 col-sm-2 col-xs-1 icon-knife "></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-right ">
                            <hr>
                        </div>
                    </div>
            </div>
        </div>
        <md-list>
            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()" class="md-primary" onclick="location.href='menu.html#MenuList'">
                <md-icon><i class="material-icons">assignment</i></md-icon>
                <span>Меню</span>
            </md-list-item>


            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()" onclick="location.href='reserve.html'">
                <md-icon>access_time</md-icon> 
                <span>Заказ столика</span>
            </md-list-item>              
            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()" onclick="location.href='orders.html'">
                <md-icon>access_time</md-icon> 
                <span>Корзина</span>
            </md-list-item>                
            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()" 
               onclick="location.href='index.html#News'">
                <md-icon>new_releases</md-icon> 
                <span>Новости</span>
            </md-list-item>

            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()" 
               onclick="location.href='index.html#Gallery'">
                <md-icon>collections</md-icon> 
                <span>Галерея</span>
            </md-list-item>                
            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()"
               onclick="location.href='index.html#Contacts'">
                <md-icon>room</md-icon> 
                <span>Контакты</span>
            </md-list-item>                
            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()"
               onclick="location.href='index.html#About'">
                <md-icon>info</md-icon> 
                <span>О нас</span>
            </md-list-item>             
            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()"
               onclick="location.href='account.html'">
                <md-icon>account_circle</md-icon> 
                <span>Аккаунт</span>
                <md-divider class="md-inset"></md-divider>
            </md-list-item>              
            <md-list-item class="md-accent" onclick="location.href='QR.html'">
                <md-icon>start</md-icon> 
                <span>QR-code</span>
            </md-list-item>                             
        </md-list>
    </md-sidenav>
<!--------------------------------------------------------------------->
       
    <nav class="navbar navbar-default navbar-fixed-top nav-custom" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <md-button class="navbar-toggle" v-on:click.native="toggleLeftSidenav">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
    </nav>
<!--
    <div class="container-fluid banner vertical-align text-center" id="Head">
        <div class="row">
            <div class="banner-title">
                <h1 class="">MAKING DELICIOUS <br>PREMIUM FOOD</h1>
            </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-xs-12">
                    <md-button class="md-raised md-accent btn-cutom-menu" onclick="location.href='menu.html' ">Меню</md-button>
                        <br class="visible-xs"> 
                    <md-button class="md-raised btn-custom-order" onclick="location.href='reserve.html' ">Заказ столика</md-button>
                </div>                

        </div>
    </div>
-->
    
<!--------------------------------------------------------------------->
   
    <div class="container-fluid  margin-top" data-row-decoration>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 between-block">
                <div class="col-md-12 text-center">
                    <h3>Меню</h3>
                </div>
                <div class="col-md-12 row-decoration">
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-left "><hr></div>
                        <div class="col-md-2 col-sm-2 col-xs-2 icon-knife "></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-right "><hr></div>
                </div>
            </div>
        </div>
    </div>
<!--------------------------------------------------------------------->  

    </div>
   
    <div id="MenuList"  v-cloak>
    
<!--
    <button onclick="clearLocal()">Кнопка </button>
    <button v-on:click="getPosts()">Получить список</button>
    <button onclick="alert(storage)">asd</button>
-->
<!--   <favorite name="favorite"></favorite>-->
<!--    post in posts.Dessert-->
<!--posts.Soup-->
    <md-tabs class="menu-cards md-warn" md-centered md-fixed v-cloak>
        <md-tab md-label="Горячее" md-icon="receipt" class="icon-hot">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3 col-xs-12  request-null text-center" v-if="error">
                    <md-card>
                        <h4>Что-то пошло не так..</h4>
                    </md-card>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " v-for="post in posts.Hot_dishes">

                    <md-card>
                        <md-card-header>
                            <md-avatar class="md-big">
<!--                                <img src="img/food/id_2.jpg">-->
                                <img v-bind:src="post.ImagePath+'.jpg'">
                            </md-avatar>
                            <md-card-header-text>
                                <div class="md-title">{{ post.Title_dish }}</div>
<!--                                {{post.ID_dish}}-->
<!--                                <div class="md-subhead text-justify">{{ post.Caption_dish }}</div>-->
                                <!--                            <div class="md-subhead">{{ post.id }}</div>-->
                                <!--                            <div class="md-title">{{ post.title }}</div>-->

                            </md-card-header-text>
                            <div class="price">
                                <span>{{ post.Price_dish }}р</span>
                            </div>
                            <!--
                                    <md-card-header-text>
                                        <div class="md-subhead">{{ post.id }}</div>
                                    </md-card-header-text>
            -->
                        </md-card-header>

                        <md-card-expand>

                            <md-card-actions>
                                    <md-button class="md-icon-button" v-on:click.native="favorite(post)">
                                        <md-icon v-if="checkFav(post)">favorite</md-icon>
                                        <md-icon v-else>favorite_border</md-icon>
                                    </md-button>
                                <md-button class="md-icon-button" v-on:click.native="AddOrder(post)">
                                    <md-icon>shopping_basket</md-icon>
                                </md-button>
                                <span style="flex: 1"></span>
                                <md-button class="md-icon-button" md-expand-trigger>
                                   
                                    <md-icon>keyboard_arrow_down</md-icon>
                                </md-button>
                            </md-card-actions>

                            <md-card-content>
                               
                                <div class="md-subhead text-justify">{{ post.Caption_dish }}</div>
                            </md-card-content>

                        </md-card-expand>
                        <!--              <md-ink-ripple />-->
                    </md-card>
                </div>

            </div>
      </md-tab>
        <md-tab md-label="Дессерты" md-icon="receipt">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3 col-xs-12  request-null text-center" v-if="error">
                    <md-card>
                        <h4>Что-то пошло не так..</h4>
                    </md-card>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " v-for="post in posts.Dessert">

                    <md-card>
                        <md-card-header>
                            <md-avatar class="md-big">

                                <img v-bind:src="post.ImagePath+'.jpg'">
                            </md-avatar>
                            <md-card-header-text>
                                <div class="md-title">{{ post.Title_dish }}</div>
<!--                                {{post.ID_dish}}-->
<!--                                <div class="md-subhead text-justify">{{ post.Caption_dish }}</div>-->
                                <!--                            <div class="md-subhead">{{ post.id }}</div>-->
                                <!--                            <div class="md-title">{{ post.title }}</div>-->

                            </md-card-header-text>
                            <div class="price">
                                <span>{{ post.Price_dish }}р</span>
                            </div>
                            <!--
                                    <md-card-header-text>
                                        <div class="md-subhead">{{ post.id }}</div>
                                    </md-card-header-text>
            -->
                        </md-card-header>

                        <md-card-expand>

                            <md-card-actions>
                                    <md-button class="md-icon-button" v-on:click.native="favorite(post)">
                                        <md-icon v-if="checkFav(post)">favorite</md-icon>
                                        <md-icon v-else>favorite_border</md-icon>
                                    </md-button>
                                <md-button class="md-icon-button" v-on:click.native="AddOrder(post)">
                                    <md-icon>shopping_basket</md-icon>
                                </md-button>
                                <span style="flex: 1"></span>
                                <md-button class="md-icon-button" md-expand-trigger>
                                   
                                    <md-icon>keyboard_arrow_down</md-icon>
                                </md-button>
                            </md-card-actions>

                            <md-card-content>
                               
                                <div class="md-subhead text-justify">{{ post.Caption_dish }}</div>
                            </md-card-content>

                        </md-card-expand>
                        <!--              <md-ink-ripple />-->
                    </md-card>
                </div>

            </div>
      </md-tab>
        <md-tab md-label="Суп" md-icon="receipt">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3 col-xs-12  request-null text-center" v-if="error">
                    <md-card>
                        <h4>Что-то пошло не так..</h4>
                    </md-card>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " v-for="post in posts.Soup">

                    <md-card>
                        <md-card-header>
                            <md-avatar class="md-big">
                                <img v-bind:src="post.ImagePath+'.jpg'">
                            </md-avatar>
                            <md-card-header-text>
                                <div class="md-title">{{ post.Title_dish }}</div>
<!--                                {{post.ID_dish}}-->
<!--                                <div class="md-subhead text-justify">{{ post.Caption_dish }}</div>-->
                                <!--                            <div class="md-subhead">{{ post.id }}</div>-->
                                <!--                            <div class="md-title">{{ post.title }}</div>-->

                            </md-card-header-text>
                            <div class="price">
                                <span>{{ post.Price_dish }}р</span>
                            </div>
                            <!--
                                    <md-card-header-text>
                                        <div class="md-subhead">{{ post.id }}</div>
                                    </md-card-header-text>
            -->
                        </md-card-header>

                        <md-card-expand>

                            <md-card-actions>
                                    <md-button class="md-icon-button" v-on:click.native="favorite(post)">
                                        <md-icon v-if="checkFav(post)">favorite</md-icon>
                                        <md-icon v-else>favorite_border</md-icon>
                                    </md-button>
                                <md-button class="md-icon-button" v-on:click.native="AddOrder(post)">
                                    <md-icon>shopping_basket</md-icon>
                                </md-button>
                                <span style="flex: 1"></span>
                                <md-button class="md-icon-button" md-expand-trigger>
                                   
                                    <md-icon>keyboard_arrow_down</md-icon>
                                </md-button>
                            </md-card-actions>

                            <md-card-content>
                               
                                <div class="md-subhead text-justify">{{ post.Caption_dish }}</div>
                            </md-card-content>

                        </md-card-expand>
                        <!--              <md-ink-ripple />-->
                    </md-card>
                </div>

            </div>
      </md-tab>


    </md-tabs>

    
    </div>
<!--------------------------------------------------------------------->

<!--
    <md-button class="md-raised" onclick = "AddToLocal()">Записать в корзину</md-button>
    <md-button class="md-raised" onclick = "">Получить заказы</md-button>
    <md-button class="md-raised" onclick = "clearLocal()">Отчистить</md-button>    
    <md-button class="md-raised" onclick = "CountOrder()">Количество</md-button>    
    <md-button class="md-raised" id="order">Открыть</md-button>
-->

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="vue/vue.js"></script>
    <script type="text/javascript" src="vue-material/vue-material.debug.js"></script>
    <script type="text/javascript" src="vue/vue-resource.js"></script>
    <script type="text/javascript" src="js/tools.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>

    
</body>

</html>
