<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="public">
    <meta http-equiv="content-language" content="ru">
    
    
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="format-detection" content="address=no">
    
    <!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->


<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--    <link href="css/material-icons.css" media="all" rel="stylesheet" type="text/css" >-->
    <link rel="stylesheet" href="vue-material/vue-material.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="shortcut icon" href="img/icon/banner-news-icon-knife.png" type="image/x-icon">
    <title>Restaurant</title>
</head>

<body class="brick-wall">
    <div id="header">
    
    <md-sidenav  class="md-fixed md-left" ref="leftSidenav" v-on:open="open('Left')" v-on:close="close('Left')" md-swipeable :md-swipe-distance="30" :md-swipe-threshold="30" v-cloak>
        <md-toolbar class="md-account-header slidenav-img">
    <!--                <img src="../img/logo-head-white.png" alt="">-->
        </md-toolbar>
        <div class="container-fluid " data-row-decoration>
            <div class="row">
                    <div class="col-md-12 between-block row-decoration">
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-left "><hr></div>
                        <div class="col-md-2 col-sm-2 col-xs-1 icon-knife "></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-right ">
                            <hr>
                        </div>
                    </div>
            </div>
        </div>
        <md-list>
            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()" class="md-primary" onclick="location.href='menu.html#MenuList'">
                <md-icon><i class="material-icons">assignment</i></md-icon>
                <span>Меню</span>
            </md-list-item>


            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()" onclick="location.href='index.html#Head'">
                <md-icon>access_time</md-icon> 
                <span>Заказ</span>
            </md-list-item>                
            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()" 
               onclick="location.href='index.html#News'">
                <md-icon>info</md-icon> 
                <span>Новости</span>
            </md-list-item>

            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()" 
               onclick="location.href='index.html#Gallery'">
                <md-icon>collections</md-icon> 
                <span>Галерея</span>
            </md-list-item>                
            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()"
               onclick="location.href='index.html#Contacts'">
                <md-icon>room</md-icon> 
                <span>Контакты</span>
            </md-list-item>                
            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()"
               onclick="location.href='index.html#About'">
                <md-icon>start</md-icon> 
                <span>О нас</span>
            </md-list-item>                
        </md-list>
    </md-sidenav>
<!--------------------------------------------------------------------->
       
    <nav class="navbar navbar-default navbar-fixed-top nav-custom" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <md-button class="navbar-toggle" v-on:click.native="toggleLeftSidenav">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav nav-link-custom">
                        <li><a href="index.html#News">Новости</a></li>
                        <li ><a href="index.html#Gallery">Галерея</a></li>
                        <li class="logo-head" onclick="location.href='index.html#Head'"></li>
                        <li><a href="index.html#About">О нас</a></li>
                        <li><a href="index.html#Contacts">Контакты</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    <div class="container-fluid menu-banner vertical-align text-center" id="Head">
        <div class="row">
            <div class="banner-title">
                <h1 class="">MAKING DELICIOUS <br>PREMIUM FOOD</h1>
            </div>
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
<md-button class="md-raised md-accent btn-cutom-menu" onclick="location.href='index.html' ">Главная</md-button>
                        <br class="visible-xs"> 
                    <md-button class="md-raised btn-custom-order" onclick="location.href='reserve.html' ">Заказ столика</md-button>
                </div>                

        </div>
    </div>
    
<!--------------------------------------------------------------------->
   
    <div class="container-fluid " data-row-decoration>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 between-block">
                <div class="col-md-12 text-center">
                    <h3>Меню</h3>
                </div>
                <div class="col-md-12 row-decoration">
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-left "><hr></div>
                        <div class="col-md-2 col-sm-2 col-xs-2 icon-knife "></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-right "><hr></div>
                </div>
            </div>
        </div>
    </div>
    
<!--------------------------------------------------------------------->  
   
    </div>
   
    <div id="MenuList">

   
    <md-tabs class="menu-cards md-warn" md-centered md-fixed v-cloak>
        <md-tab md-label="Горячее" md-icon="receipt" class="icon-hot">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3 col-xs-12  request-null text-center" v-if="error">
                    <md-card>
                        <h4>Что-то пошло не так..</h4>
                    </md-card>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " v-for="post in posts.Hot_dishes">
                
                <md-card>
                    <md-card-header>
                        <md-avatar class="md-big">
                           
                            <img src="img/food/id_2.jpg">
                        </md-avatar>
                        <md-card-header-text>
                    <div class="md-title ">{{ post.Title_dish }}</div>
                    <div class="md-subhead text-justify">{{ post.Caption_dish }}</div>
<!--                            <div class="md-subhead">{{ post.id }}</div>-->
<!--                            <div class="md-title">{{ post.title }}</div>-->

                        </md-card-header-text>
                        <div class=" price">
                            <span>{{ post.Price_dish }}р</span>
                        </div>
<!--
                        <md-card-header-text>
                            <div class="md-subhead">{{ post.id }}</div>
                        </md-card-header-text>
-->
                    </md-card-header>
<!--
                    <md-card-actions>
                        <md-button>Action</md-button>
                        <md-button>Action</md-button>
                    </md-card-actions>
-->
              <md-ink-ripple />
                </md-card>
                 <div class="clearfix"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 "><div class="md-card md-theme-default"><div class="md-card-header md-card-header-flex"><div class="md-avatar md-big md-theme-default"><img src="img/food/id_2.jpg"></div> <div class="md-card-header-text"><div class="md-title ">КОПЧЕНЫЙ ЛОСОСЬ</div> <div class="md-subhead text-justify">С ОВОЩНЫМ РИЗОТТО</div></div> <div class=" price"><span>18.13р</span></div></div> <div class="md-ink-ripple"><div class="md-ripple md-fadeout md-active" style="width: 560px; height: 560px; top: -268px; left: 96px;"></div></div></div> <div class="clearfix"></div></div>
            </div>
      </md-tab>
        <md-tab md-label="Десерты" md-icon="receipt">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3 col-xs-12  request-null text-center" v-if="error">
                    <md-card>
                        <h4>Что-то пошло не так..</h4>
                    </md-card>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " v-for="post in posts.Dessert">
                
                <md-card>
                    <md-card-header>
                        <md-avatar class="md-big">
                           
                            <img src="img/376447.jpg">
                        </md-avatar>
                        <md-card-header-text>
                    <div class="md-title ">{{ post.Title_dish }}</div>
                    <div class="md-subhead text-justify">{{ post.Caption_dish }}</div>
<!--                            <div class="md-subhead">{{ post.id }}</div>-->
<!--                            <div class="md-title">{{ post.title }}</div>-->

                        </md-card-header-text>
                        <div class=" price">
                            <span>{{ post.Price_dish }}р</span>
                        </div>
<!--
                        <md-card-header-text>
                            <div class="md-subhead">{{ post.id }}</div>
                        </md-card-header-text>
-->
                    </md-card-header>
<!--
                    <md-card-actions>
                        <md-button>Action</md-button>
                        <md-button>Action</md-button>
                    </md-card-actions>
-->
              <md-ink-ripple />
                </md-card>
                 <div class="clearfix"></div>
                </div>
                
            </div>
        </md-tab>
        <md-tab md-label="Суп" md-icon="receipt">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3 col-xs-12  request-null text-center" v-if="error">
                    <md-card>
                        <h4>Что-то пошло не так..</h4>
                    </md-card>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " v-for="post in posts.Soup">
                
                <md-card>
                    <md-card-header>
                        <md-avatar class="md-big">
                           
                            <img src="img/376447.jpg">
                        </md-avatar>
                        <md-card-header-text>
                    <div class="md-title ">{{ post.Title_dish }}</div>
                    <div class="md-subhead text-justify">{{ post.Caption_dish }}</div>
<!--                            <div class="md-subhead">{{ post.id }}</div>-->
<!--                            <div class="md-title">{{ post.title }}</div>-->

                        </md-card-header-text>
                        <div class=" price">
                            <span>{{ post.Price_dish }}р</span>
                        </div>
<!--
                        <md-card-header-text>
                            <div class="md-subhead">{{ post.id }}</div>
                        </md-card-header-text>
-->
                    </md-card-header>
<!--
                    <md-card-actions>
                        <md-button>Action</md-button>
                        <md-button>Action</md-button>
                    </md-card-actions>
-->
              <md-ink-ripple />
                </md-card>
                 <div class="clearfix"></div>
                </div>
                
            </div>
        </md-tab>


    </md-tabs>

    
    </div>
<!--------------------------------------------------------------------->

<!--
    <md-button class="md-raised" onclick = "AddToLocal()">Записать в корзину</md-button>
    <md-button class="md-raised" onclick = "">Получить заказы</md-button>
    <md-button class="md-raised" onclick = "clearLocal()">Отчистить</md-button>    
    <md-button class="md-raised" onclick = "CountOrder()">Количество</md-button>    
    <md-button class="md-raised" id="order">Открыть</md-button>
-->
    
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="vue/vue.js"></script>
    <script type="text/javascript" src="vue-material/vue-material.debug.js"></script>
    <script type="text/javascript" src="vue/vue-resource.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>

    
</body>

</html>
