<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="public">
    <meta http-equiv="content-language" content="ru">


    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="format-detection" content="address=no">

    <!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/authorization.css">
    <link rel="stylesheet" type="text/css" href="css/account.css">
    <link rel="stylesheet" href="vue-material/vue-material.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

    <link rel="shortcut icon" href="img/icon/banner-news-icon-knife.png" type="image/x-icon">

    <title>Restaurant</title>
</head>

<body class="vertical-align brick-wall">
    <!--    <div id="header">-->

    <!--------------------------------------------------------------------->

    <div id="Orders" class="Account" v-cloak>
        <div class="container-fluid">
            <div class="row">
                <md-toolbar class="md-dense shadow navbar-fixed-top">
                    <md-button class="md-icon-button" onclick="history.back()">
                        <md-icon>arrow_back</md-icon>
                    </md-button>
<!--                    <h2 class="md-title" style="flex: 1">Аккаунт</h2>-->
                </md-toolbar>
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <form novalidate @submit.stop.prevent="submit">
                       
                    <div class="vertical-align">
<!--------------------------------------------------------------------------------------------------->

<md-card>
<md-card-header class="padding-bottom-0">
    <div class="md-title-18 text-center">Корзина
        <br>
        <md-icon>restaurant_menu</md-icon>
    </div>
    <div class="vertical-align-right" v-if="ListOrders.length">
        <md-button class="md-icon-button" v-on:click.native="deleteOrd()">
            <md-icon class="md-primary">clear</md-icon>
        </md-button> 
    </div>
        <div v-else class="md-subhead text-trans-none text-center"><br>Вы еще ничего не добавили!<br><br></div>
</md-card-header>
    <div class="md-divider" v-show="ListOrders.length"></div>  

<!--<md-card-header class="vertical-align-right">-->

<!--</md-card-header>-->




<transition-group name="list" tag="p">
   
    <div v-for="(item,index) in ListOrders" v-bind:key="item">
       
        <md-card-header class="list-item">
            <md-avatar class="md-big">
                <img src="img/376447.jpg" class="md-title-18">
            </md-avatar>

            <md-card-header-text class="vertical-align">
                <div class="md-title-18">{{item.Title_dish}}</div>
            </md-card-header-text>
            <div class="price vertical-align">
                <span>{{ item.Price_dish }}р</span>
            </div>

            <!--
            <md-button class="md-icon-button md-list-action">
                <md-icon class="md-primary">control_point</md-icon>
            </md-button>
-->
            <md-button class="md-icon-button md-list-action" v-on:click.native="removeOrd(item)">
                <md-icon class="md-primary">clear</md-icon>
            </md-button>

        </md-card-header>
        <div class="md-divider"></div>
    </div>
        </transition-group>
        

</md-card>
<!----------------------------------------------------------------------------->             
<md-card>
        <md-card-header>
            <div class="md-title-18 text-center">Итого
                <br>
                <md-icon>restaurant_menu</md-icon>
            </div>
        </md-card-header>
        <md-card-content class="text-center">
<!--            <p class="md-primary account-info text-center" >Создайте свое меню из списка избранного!</p>-->
            <span>Общая сумма: </span>
            
            <span class="totals">{{totalprice}}</span>
            
            <div class="md-divider"></div>
            <br>
            <md-button class="md-raised md-primary text-trans-none" onclick="location.href='reserve.html'">Перейти к заказу столика</md-button>
        </md-card-content>
</md-card> 
        </div>
        </form>
                </div>
            </div>
        </div>
          <md-snackbar ref="snackbar">
            <span>{{snackMessage}}</span>
            <md-button class="md-accent" md-theme="light-blue" v-on:click.native="returnRemoveOrd()">Вернуть</md-button>
          </md-snackbar>
    </div>


    <!--------------------------------------------------------------------->

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <script type="text/javascript" src="vue/vue.js"></script>
    <script type="text/javascript" src="vue-material/vue-material.debug.js"></script>
    <script type="text/javascript" src="vue/vue-resource.js"></script>


    <script type="text/javascript" src="js/tools.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/orders.js"></script>
<!--    <script type="text/javascript" src="js/authorization.js"></script>-->



</body>

</html>
