<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="public">
    <meta http-equiv="content-language" content="ru">
    
    
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="format-detection" content="address=no">
    
    <!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->

    <link rel="stylesheet" href="vue-material/vue-material.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="datapicker/flatpickr.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/reserve.css">
    <link rel="shortcut icon" href="img/icon/banner-news-icon-knife.png" type="image/x-icon">
    
    <title>Restaurant</title>
</head>

<body class="brick-wall">
    <div id="header">
    
    <md-sidenav  class="md-fixed md-left" ref="leftSidenav" v-on:open="open('Left')" v-on:close="close('Left')" md-swipeable :md-swipe-distance="30" :md-swipe-threshold="30" v-cloak>
        <md-toolbar class="md-account-header slidenav-img">
    <!--                <img src="../img/logo-head-white.png" alt="">-->
        </md-toolbar>
        <div class="container-fluid " data-row-decoration>
            <div class="row">
                    <div class="col-md-12 between-block row-decoration">
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-left "><hr></div>
                        <div class="col-md-2 col-sm-2 col-xs-1 icon-knife "></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-right ">
                            <hr>
                        </div>
                    </div>
            </div>
        </div>
        <md-list>
            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()" class="md-primary" onclick="location.href='menu.html#MenuList'">
                <md-icon><i class="material-icons">assignment</i></md-icon>
                <span>Меню</span>
            </md-list-item>


            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()" onclick="location.href='index.html#Head'">
                <md-icon>access_time</md-icon> 
                <span>Заказ</span>
            </md-list-item>                
            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()" 
               onclick="location.href='index.html#News'">
                <md-icon>info</md-icon> 
                <span>Новости</span>
            </md-list-item>

            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()" 
               onclick="location.href='index.html#Gallery'">
                <md-icon>collections</md-icon> 
                <span>Галерея</span>
            </md-list-item>                
            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()"
               onclick="location.href='index.html#Contacts'">
                <md-icon>room</md-icon> 
                <span>Контакты</span>
            </md-list-item>                
            <md-list-item v-on:click.native="$refs.leftSidenav.toggle()"
               onclick="location.href='index.html#About'">
                <md-icon>start</md-icon> 
                <span>О нас</span>
            </md-list-item>                
        </md-list>
    </md-sidenav>
<!--------------------------------------------------------------------->
       
    <nav class="navbar navbar-default navbar-fixed-top nav-custom" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <md-button class="navbar-toggle" v-on:click.native="toggleLeftSidenav">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav nav-link-custom">
                        <li><a href="index.html#News">Новости</a></li>
                        <li ><a href="index.html#Gallery">Галерея</a></li>
                        <li class="logo-head" onclick="location.href='index.html#Head'"></li>
                        <li><a href="index.html#About">О нас</a></li>
                        <li><a href="index.html#Contacts">Контакты</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    <div class="container-fluid menu-banner vertical-align text-center">
        <div class="row">
            <div class="banner-title">
                <h1 class="">MAKING DELICIOUS <br>PREMIUM FOOD</h1>
            </div>
            <div>
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                    <md-button class="md-raised md-accent btn-cutom-menu" onclick="location.href='index.html' ">Главная</md-button>
                        <br class="visible-xs"> 
                    <md-button class="md-raised btn-custom-order" onclick="location.href='reserve.html' ">Заказ столика</md-button>
                </div>                
            </div>
        </div>
    </div>
    
<!--------------------------------------------------------------------->
   
    <div class="container-fluid " data-row-decoration>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 between-block">
                <div class="col-md-12 text-center">
                    <h3>Бронирование</h3>
                </div>
                <div class="col-md-12 row-decoration">
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-left "><hr></div>
                        <div class="col-md-2 col-sm-2 col-xs-2 icon-reserve "></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 hr-right "><hr></div>
                </div>
            </div>
        </div>
    </div>
    
<!--------------------------------------------------------------------->  
<!--Close #Header-->
    </div>
   
    <div id="Reserve" class="banner-reserve" v-cloak>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
<!--                   FORM                  -->
                    <form novalidate @submit.stop.prevent="submit">
                    
                    <md-card class="reserve-card">
                        <md-card-area md-inset>
                            <md-card-media></md-card-media>
                            <br>
                            <h4 class="text-center">Время и дата визита</h4>
                            
                            <md-card-header>
                                <div class="col-md-6 col-sm-6 text-center">
                                    <md-icon class="col-sm-pull-1">date_range</md-icon>
                                    <input class="reserve-inp inp-date" type="date" placeholder="Выберите дату" v-model="reserveObj.date" required>
                                </div>

                                <br class="visible-xs">
                                <div class="col-md-6 col-sm-6 text-center">
                                    <md-icon>access_time</md-icon>
                                    <input class="reserve-inp inp-time" type="datetime" placeholder="Время" v-model="reserveObj.time" required>
                                </div>
                            </md-card-header>
                            <br>
                            <br>
                        </md-card-area>

                        <h4 class="text-center">Количество гостей</h4>
                        <md-card-area class="text-center guest">
                            <md-icon v-for="n in reserveObj.numguest">account_circle</md-icon>
                            <br>
                            <br>
                            <md-button class="md-raised" v-on:click.native="if (reserveObj.numguest != 1) reserveObj.numguest -= 1">
                                <md-icon>remove</md-icon>
                            </md-button>
                            <md-button class="md-raised">{{reserveObj.numguest}}</md-button>
                            <md-button class="md-raised" v-on:click.native="if (reserveObj.numguest != 8) reserveObj.numguest += 1">
                                <md-icon>add</md-icon>
                            </md-button>

                            <br>
                            <br>
                        </md-card-area>

                        
                        <md-card-content>
                           <div class="row">
                            <div class="col-lg-6 col-md-6 ">
                                    <md-input-container>
                                        <md-icon>account_circle</md-icon>
                                        <label>Имя</label>
                                        <md-input type="text" placeholder="Имя" v-model="reserveObj.name" required></md-input>
                                    </md-input-container> 
                            </div>
                            <div class="col-lg-6 col-md-6 ">
                                    <md-input-container>
                                        <md-icon>account_circle</md-icon>
                                        <label>Фамилия</label>
                                        <md-input type="text" placeholder="Фамилия" v-model="reserveObj.lastName" required></md-input>
                                    </md-input-container> 
                            </div>                           
                            
                            <div class="col-md-12">
                                <md-input-container>
                                    <md-icon>phone</md-icon>
                                    <label>Телефон</label>
                                    <md-input type="text" placeholder="Введите свой номер телефона" v-model="reserveObj.telephone" required></md-input>
                                </md-input-container>
                                
                            <md-input-container>
                                <md-icon>speaker_notes</md-icon>
                                <label>Пожелания</label>
                                <md-textarea placeholder="Пожелания (не обязательно)" v-model="reserveObj.notes" maxlength="60"></md-textarea>
                            </md-input-container>
                            </div>
                            
                            </div>
                            
                            
                            
                        </md-card-content>

                        <md-card-actions>
                            <md-button class="md-raised md-primary" v-on:click.native="ReserveInfo">Забронировать</md-button>
                        </md-card-actions>
                    </md-card>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
<!--    <script type="text/javascript" src="js/bootstrap.js"></script>-->
    <script type="text/javascript" src="vue/vue.js"></script>
    <script type="text/javascript" src="vue-material/vue-material.debug.js"></script>
    <script type="text/javascript" src="vue/vue-resource.js"></script>
    <script type="text/javascript" src="datapicker/flatpickr.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/reserve.js"></script>

   
    
</body>

</html>
